@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {

    --cor01: #47BDFF;
    --cor02: #0285e8;

}

header {
    padding: 10px 11px 20px 10px;
    background-image: linear-gradient(#0285e8, #47BDFF);


}


.principal {

    padding: 10px;
}


nav {

    background-color: azure;
    padding: 13px;
}


nav a {

    background-color: rgb(249, 249, 249);
    padding: 8px 6px 8px 11px;
    text-decoration: none;
}


menu {
    margin: auto;
    padding: 50px 11px 20px 10px;
    text-align: center;
    
   
    
}

footer {

    background-color: black;
    
}





